body{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #3e3d3d;
}

header {
    height: 6vh;
    color: #fff;
    text-transform: uppercase;
    font-size: 4vh;
}

#labirinto{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linha{
    display: flex;
}

.linha div{
    width: 40px;
    height: 40px;
}

.parede{
    background-color: #83cad2;
}

.caminho{
    background-color: #4c5246;
}

.finish{
    background-color: #fff7f5;
}

.start{
    background-color: #fff7f5;
}

.jogador{
    background-color: #475bdd;
    border-radius: 50%;
}

.mensagemVitoria{
    height: 400px;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mensagemVitoria h2{
    font-size: 6vh;
    text-transform: uppercase;
}